#alert{
    -fx-background-image: url("Image/background/background3.jpg");
        -fx-background-position: center center;
        -fx-background-repeat: no-repeat;
        -fx-background-size:600px 360px;
}
#quit1 {
    -fx-background-image: url("Image/quit2.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-cursor: hand;
}

#quit1:hover {
    -fx-background-image: url("Image/quit1.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-cursor: hand;
}
#quit1:pressed {
    -fx-background-image: url("Image/quit1.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-cursor: hand;
}

#minimiser1 {

    -fx-background-image: url("Image/minimiser2.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-cursor: hand;
}

#minimiser1:hover {

    -fx-background-image: url("Image/minimiser.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-cursor: hand;
}

#minimiser1:pressed {
    -fx-background-image: url("Image/minimiser2.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-cursor: hand;
}
#Alert{
    -fx-background-radius: 5px;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-border-color: rgb(180, 180, 180);
    -fx-background-color: white;
}
#submit{

    -fx-background-color: deepskyblue;
    -fx-background-radius: 5px;
    -fx-cursor: hand;

}
#information{
    -fx-alignment: center;
}
#submit:hover
{
    -fx-background-color: aqua;
    -fx-cursor: hand;
}
#submit:pressed
{
    -fx-background-color: darkturquoise;
    -fx-cursor: hand;
}
#cancel
{
    -fx-background-color: darkgray;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}
#cancel:hover
{
    -fx-background-color: grey;
    -fx-cursor: hand;
}
#cancel:pressed{
    -fx-background-color: gainsboro;
    -fx-cursor: hand;
}
