#quit1 {
    -fx-background-image: url("Image/quit2.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-cursor: hand;
}
#codeText{
    -fx-background-image: url("Image/code.png");
        -fx-background-repeat: no-repeat;
        -fx-background-position: 8px center;
}
#codeText:hover,#codeText:focused{
    -fx-background-image: url("Image/code1.png");
    -fx-background-radius: 20px;
        -fx-background-color: white;
        -fx-border-radius: 20px;
        -fx-border-color: rgb(160,160,160);
        -fx-background-repeat: no-repeat;
        -fx-background-position: 8px center;
}
#code{
    -fx-background-color:#f0ffff;
}
#code:hover{
    -fx-background-color:aqua;
    -fx-cursor:hand;
}
#code:pressed{
    -fx-background-color:#f0ffff;
    -fx-cursor: hand;
}

#quit1:hover {
    -fx-background-image: url("Image/quit1.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-cursor: hand;
}

#quit1:pressed {
    -fx-background-image: url("Image/quit1.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-cursor: hand;
}
#head{
    -fx-background-image: url("Image/head/head9.jpg");
    -fx-background-position: center center;
    -fx-background-size: 123px 123px;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255, 255, 255, 0);
}

#minimiser1 {

    -fx-background-image: url("Image/minimiser2.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-cursor: hand;
}

#minimiser1:hover {

    -fx-background-image: url("Image/minimiser.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-cursor: hand;
}

#minimiser1:pressed {
    -fx-background-image: url("Image/minimiser2.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-cursor: hand;
}

#Forget {
    -fx-background-radius: 5px;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-border-color: rgb(180, 180, 180);
    -fx-background-color: white;
}

#account, #name, #password, #rePassword, #phone,#codeText {
    -fx-background-radius: 20px;
    -fx-background-color: white;
    -fx-border-radius: 20px;
    -fx-border-color: rgb(200, 200, 200);
}

#account {

    -fx-background-image: url("Image/user.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 8px center;
}

#name {

    -fx-background-image: url("Image/name.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 8px center;
}

#password {

    -fx-background-image: url("Image/password.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 8px center;
}

#rePassword {

    -fx-background-image: url("Image/password.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 8px center;
}

#phone {
    -fx-background-image: url("Image/phone.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 8px center;
}

#account:hover, #name:hover, #password:hover, #rePassword:hover, #phone:hover {
    -fx-background-radius: 20px;
    -fx-background-color: white;
    -fx-border-radius: 20px;
    -fx-border-color: rgb(160, 160, 160);
}

#account:focused, #name:focused, #password:focused, #rePassword:focused, #phone:focused {

    -fx-background-radius: 20px;
    -fx-background-color: white;
    -fx-border-radius: 20px;
    -fx-border-color: rgb(160, 160, 160);

}

#cancel {
    -fx-background-color: deepskyblue;
    -fx-background-radius: 20px;
    -fx-cursor: hand;
}

#cancel:hover {
    -fx-background-color: aqua;
    -fx-cursor: hand;
}

#cancel:pressed {
    -fx-background-color: darkturquoise;
    -fx-cursor: hand;
}

#reset {
    -fx-background-color: deepskyblue;
    -fx-background-radius: 20px;
    -fx-cursor: hand;
}

#reset:hover {
    -fx-background-color: aqua;
    -fx-cursor: hand;
}

#reset:pressed {
    -fx-background-color: darkturquoise;
    -fx-cursor: hand;
}